.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 70px;
}
.about-us h1 {
    font-weight: 400;
    padding-bottom: 20px;
}
.about-us p {
    font-size: 20px;
}
.niche {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #fef3ff;
    border-radius: 0.2rem;
}
.niche-details  {
    width: 600px;
    padding-top: 60px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding-left: 70px;
}
.niche-details h1 {
    font-weight: 400;
    width: 200px
}
.niche-details p {
    padding-bottom: 20px;
    padding-top: 20px;
}
.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    gap:2rem;
    padding-top: 50px;
    padding-bottom: 50px;
}
.box-1 {
    width: 370px;
    height: 120px;
    border: 2px solid;
    border-image: linear-gradient(to right, #febaf0, #f492fc, #D67dff);
    border-image-slice: 1;
    border-radius: 0.2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.box-2 {
    width: 370px;
    height: 120px;
    border: 2px solid;
    border-image: linear-gradient(to right, #febaf0, #f492fc, #D67dff);
    border-image-slice: 1;
    border-radius: 0.2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
} 
